<div>

  <h2>Formulario registro</h2>

  <form action="/auth/signup" method="post">

    <label for="username">Nombre de Usuario:</label>
    <input type="text" name="username">

    <br>

    <label for="email">Correo Electronico:</label>
    <input type="email" name="email">

    <br>

    <label for="password">Contraseña:</label>
    <input type="password" name="password">

    <br>

    {{#if this.errorMessage}}
      <p class="error">{{this.errorMessage}}</p>
    {{/if}}

    <button>Registrarse</button>


  </form>

</div>